* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.title-text {
  font-family: "Noto Serif", serif;
  font-size: 3.5rem;
  font-weight: 700;
}
.body-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
}
.highlight-orange {
  color: rgb(233, 90, 8);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: rgb(37, 36, 50);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 20px;
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero-content {
  width: 50%;
}

.hero-image {
  width: 50%;
}
.hero-image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* hero Image moves to the top  */
/* Mobile hide menu links */

@media screen and (max-width: 576px) {
  .menu a:not(.cart) {
    display: none;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-content {
    width: 90%;
    order: 1;
  }

  .hero-image {
    width: 100%;
  }
}

/* Plants Card Section */

.plants-content {
  margin-bottom: 50px;
  text-align: center;
}
.plants-content p {
  text-align: center;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  font-family: "Inter", sans-serif;
}
.plants-card {
  text-align: center;
}

.card-img img {
  width: 100%;
}
.card-info {
  margin: 15px 0;
}
.card-info h1 {
  font-weight: 400;
  margin-bottom: 8px;
}
.card-btn {
  width: 100%;
  height: 50px;
  background-color: rgb(233, 90, 8);
  border: none;
  color: white;
}

@media screen and (max-width: 576px) {
  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
  }
}

/* join section */

.Join {
  width: 100%;
  height: 500px;
  background-image: url(Images/news-letter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Join h1 {
  color: white;
  font-size: 3rem;
}

.form {
  display: grid;
  grid-template-columns: 400px 100px;
  grid-template-rows: 50px;
}

.form input[type="email"] {
  padding-left: 15px;
}

.form button {
  font-family: "Inter", sans-serif;
}

@media screen and (max-width:576px) {

  .form {
  grid-template-columns: 200px 80px;
}
.Join h1 {
  font-size: 2rem;
}
}

/* footer section */
footer{
display:grid;
grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
gap: 10px;
justify-content: center;
padding:20px 0px;}

footer p{
  padding-right:30px ;
}
footer a{
  text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
}
.section3,.section2{
  display: flex;
  flex-direction: column;
}
.section4{
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width:576px) {

footer{
display:grid;
grid-template-columns: 1fr;
gap: 10px;
padding:30px 30px;
margin-top: 50px;}
}
